---
# tasks file for loadbalancer
- name: Install HAProxy
  dnf:
    name: haproxy
    state: latest

- name: Configure HAProxy
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
  notify: Restart HAProxy

- name: Ensure HAProxy is running
  service:
    name: haproxy
    state: started
    enabled: true
