global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'ansible_managed_nodes'
    static_configs:
      - targets:
        {% for host in groups['all'] %}
        - '{{ host }}:9100'
        {% endfor %}
